<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Character set configuration -->
        <meta charset="UTF-8">

        <!-- Viewport configuration, scaling options -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Hide the browser UI -->
        <meta name="apple-mobile-web-app-capable" content="yes">

        <!-- MS tile icons -->
        <meta name="msapplication-TileColor" content="#69f0ae">
        <meta name="msapplication-TileImage" content="{{asset('bundles/mooc/favicons/mstile-144x144.png')}}">

        <!-- Android toolbar color -->
        <meta name="theme-color" content="#69f0ae">

        <!-- Apple touch icons -->
        <link rel="apple-touch-icon" sizes="57x57" href="{{asset('bundles/mooc/favicons/apple-touch-icon-57x57.png')}}">
        <link rel="apple-touch-icon" sizes="60x60" href="{{asset('bundles/mooc/favicons/apple-touch-icon-60x60.png')}}">
        <link rel="apple-touch-icon" sizes="72x72" href="{{asset('bundles/mooc/favicons/apple-touch-icon-72x72.png')}}">
        <link rel="apple-touch-icon" sizes="76x76" href="{{asset('bundles/mooc/favicons/apple-touch-icon-76x76.png')}}">
        <link rel="apple-touch-icon" sizes="114x114" href="{{asset('bundles/mooc/favicons/apple-touch-icon-114x114.png')}}">
        <link rel="apple-touch-icon" sizes="120x120" href="{{asset('bundles/mooc/favicons/apple-touch-icon-120x120.png')}}">
        <link rel="apple-touch-icon" sizes="144x144" href="{{asset('bundles/mooc/favicons/apple-touch-icon-144x144.png')}}">
        <link rel="apple-touch-icon" sizes="152x152" href="{{asset('bundles/mooc/favicons/apple-touch-icon-152x152.png')}}">
        <link rel="apple-touch-icon" sizes="180x180" href="{{asset('bundles/mooc/favicons/apple-touch-icon-180x180.png')}}">

        <!-- Android touch icons -->
        <link rel="icon" type="image/png" href="{{asset('bundles/mooc/favicons/favicon-32x32.png')}}" sizes="32x32">
        <link rel="icon" type="image/png" href="{{asset('bundles/mooc/favicons/android-chrome-192x192.png')}}" sizes="192x192">
        <link rel="icon" type="image/png" href="{{asset('bundles/mooc/favicons/favicon-96x96.png')}}" sizes="96x96">
        <link rel="icon" type="image/png" href="{{asset('bundles/mooc/favicons/favicon-16x16.png')}}" sizes="16x16">

        <!-- Web app manifest file -->
        <link rel="manifest" href="{{asset('bundles/mooc/favicons/manifest.json')}}">

        <!-- Stylesheets -->
        <link rel="stylesheet" href="{{asset('bundles/mooc/libs/materialize/css/materialize.min.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/mooc/libs/font-awesome/css/font-awesome.min.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/mooc/styles/css/wata.min.css')}}">
        <link rel="stylesheet" href="{{asset('bundles/mooc/styles/css/wata.css')}}">

        <!-- Site title -->
        <title>Tesseract coding</title>
    </head>
    <body>
    <div id="wrapper">

        <!-- The preloader we see before the whole site is loaded -->
        <div id="preloader" class="valign-wrapper">
            <div class="preloader-wrapper big active">
                <div class="spinner-layer spinner-blue-only actually-black">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- A status spinner to indicate that some process is going on -->
        <div id="status">
            <div class="preloader-wrapper small active">
                <div class="spinner-layer spinner-blue-only actually-green">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="gap-patch">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Navigation bar -->
        <div class="navbar-fixed" id="nav">
            <nav>
                <div class="nav-wrapper">

                    <!-- Site name -->
                    <a href="/" class="brand-logo"><span class="tighter">Tesseract</span>Coding</a>

                    <!-- Mobile menu button -->
                    <a href="#" data-activates="mobile-menu" class="button-collapse"><i class="mdi-navigation-menu"></i></a>

                    <!-- Static menu -->
                    <ul class="right hide-on-med-and-down table-of-contents">
                        <li><a href="#triangles">Home</a></li>
                        <li><a href="#courses"> Our Courses</a></li>
                        <li><a href="#coaches">Our Coaches</a></li>
                        <li><a href="#organisations">Organisations</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>

                    <!-- Mobile menu, make sure it is equal to the statis menu -->
                    <ul class="side-nav" id="mobile-menu">
                        < <li><a href="#triangles">Home</a></li>
                        <li><a href="#courses"> Our Courses</a></li>
                        <li><a href="#coaches">Our Coaches</a></li>
                        <li><a href="#organisations">Organisations</a></li>
                        <li><a href="#blog">Blog</a></li>
                        <li><a href="#about">About</a></li>
                        <li><a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </nav>
        </div>

        <!-- Triangles section -->
        <div id="triangles" class="scrollspy">
            <div id="output">
                <div class="h1-wrapper valign-wrapper">
                    <div class="container">
                        <div class="row">
                            <div class="col s12">
                                <!-- Your company's slogan, feel free to add more tags here -->
                                <h1>Tesseract Coding</h1>
                                <h2>Explore the world of knowledge</h2>
                            </div>
                        </div>
                    </div>
                    <!-- Action button -->
                    <a class="btn-floating btn-large waves-effect waves-dark green accent-2" id="explore">
                        <i class="mdi-navigation-arrow-forward indigo-text text-darken-4"></i>
                    </a>
                </div>
            </div>
        </div>

        <!-- Services section -->
        <div class="section scrollspy" id="services">
            <div class="container">
                <div class="row">
                    <h2>We are Tesseract Coding</h2>
                    <div class="col s12 m10 offset-m1 l8 offset-l2">
                        <p class="flow-text center-align">
                            We bring the knowledge to your fingertips
                        </p>
                    </div>
                </div>

                <!-- Row with service icons -->
                <div class="row services">

                    <div class="col s4">
                        <i class="fa fa-5x fa-desktop animated-color"></i>
                        <div class="divider"></div>
                        <h5>Learn anywhere</h5>
                        <p>Designed as a mobile-first application, the grid scales to fit even the largest monitors. The content always looks nice and balanced.</p>
                        <a class="btn waves-effect waves-dark white black-text">Discover</a>
                    </div>

                    <div class="col s4">
                        <i class="fa fa-5x fa-building animated-color"></i>
                        <div class="divider"></div>
                        <h5>Organisations</h5>
                        <p>Find Courses by known organisations</p>
                        <a class="btn waves-effect waves-dark white black-text">Try it</a>
                    </div>


                    <div class="col s4">
                        <i class="fa fa-5x fa-code animated-color"></i>
                        <div class="divider"></div>
                        <h5>Carefully Created Courses</h5>
                        <p>Our Caoches try their best to create engaging courses with intresting Content</p>
                        <a class="btn waves-effect waves-dark white black-text">Explore</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="divider"></div>
        </div>

        <!-- Works section -->
        <div class="section scrollspy" id="courses">
            <div class="container">
                <div class="row">
                    <h2>Our Courses</h2>
                    <!-- Category filter buttons -->
                    <div class="filter-options">
                        <a class="btn-flat waves-green-accent waves-effect active" id="all" data-group="all">Everything</a>
                        <a class="btn-flat waves-green-accent waves-effect" data-group="material">Material</a>
                        <a class="btn-flat waves-green-accent waves-effect" data-group="food">Food</a>
                        <a class="btn-flat waves-green-accent waves-effect" data-group="digital">Digital</a>
                    </div>
                </div>
            </div>
            <div class="wide-container">
                <!-- Shuffle grid -->
                <div id="shuffle-grid" class="row">
                    <a href="ajax/works/heisenberg-ice-cream.html" class="col s12 m6 l4 picture-item ajax-link" data-groups='["food"]'>
                        <img src="images/works/ice-cream.png" class="responsive-img" alt="Ice cream">
                        <h5>Heisenberg ice-cream</h5>
                    </a>

                </div>
            </div>
        </div>
        <div class="section scrollspy" id="coaches">
            <div class="container">
                <div class="row">
                    <h2>Our Coaches</h2>
                    <!-- Category filter buttons -->
                    <div class="filter-options">
                        <a class="btn-flat waves-green-accent waves-effect active" id="all" data-group="all">Everything</a>
                        <a class="btn-flat waves-green-accent waves-effect" data-group="material">Material</a>
                        <a class="btn-flat waves-green-accent waves-effect" data-group="food">Food</a>
                        <a class="btn-flat waves-green-accent waves-effect" data-group="digital">Digital</a>
                    </div>
                </div>
            </div>
            <div class="wide-container">
                <!-- Shuffle grid -->
                <div id="shuffle-grid" class="row">
                    <a href="ajax/works/heisenberg-ice-cream.html" class="col s12 m6 l4 picture-item ajax-link" data-groups='["food"]'>
                        <img src="images/works/ice-cream.png" class="responsive-img" alt="Ice cream">
                        <h5>Heisenberg ice-cream</h5>
                    </a>

                </div>
            </div>
        </div>
        <div class="section scrollspy" id="organisations">
            <div class="container">
                <div class="row">
                    <h2>Our Organisations</h2>
                    <!-- Category filter buttons -->
                    <div class="filter-options">
                        <a class="btn-flat waves-green-accent waves-effect active" id="all" data-group="all">Everything</a>
                        <a class="btn-flat waves-green-accent waves-effect" data-group="material">Material</a>
                        <a class="btn-flat waves-green-accent waves-effect" data-group="food">Food</a>
                        <a class="btn-flat waves-green-accent waves-effect" data-group="digital">Digital</a>
                    </div>
                </div>
            </div>
            <div class="wide-container">
                <!-- Shuffle grid -->
                <div id="shuffle-grid" class="row">
                    <a href="ajax/works/heisenberg-ice-cream.html" class="col s12 m6 l4 picture-item ajax-link" data-groups='["food"]'>
                        <img src="images/works/ice-cream.png" class="responsive-img" alt="Ice cream">
                        <h5>Heisenberg ice-cream</h5>
                    </a>

                </div>
            </div>
        </div>

        <!-- Get started section -->
        <div class="section grey-section" id="get-started">
            <div class="container">
                <div class="row">
                    <h2>Like what you see?</h2>
                    <div class="col s12 m10 offset-m1 l8 offset-l2">
                        <p class="flow-text center-align">
                            Start learning today
                        </p>
                        <p class="center-align">
                            <a class="waves-effect waves-light btn-large green accent-2 indigo-text text-darken-4">
                                <i class="fa fa-rocket left"></i>Get started
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- About section -->
        <div class="section scrollspy" id="about">
            <div class="container">
                <div class="row">
                    <h2>Tessract Coding</h2>
                    <div class="col s12 m10 offset-m1 l8 offset-l2">
                        <p class="flow-text center-align">
                            Meet the superheroes, the most dedicated team to ever walk the land of the web.
                        </p>
                    </div>
                </div>
            </div>
            <div class="wide-container">
                <div class="row team">
                    <div class="col s12 m6">
                        <div class="description-ball"></div>
                        <div class="description center-align">
                            <div class="row h4-row">
                                <h4>Ann Perkins<br><small>Art director and founder</small></h4>
                            </div>
                            <div class="row">
                                <div class="col s12 l4">
                                    +1-800-56-89-11
                                </div>
                                <div class="col s12 l4">
                                    <a href="mailto:ann@wata.com">ann@wata.com</a>
                                </div>
                                <div class="col s12 l4 social">
                                    <a role="button"><i class="fa fa-facebook"></i></a>
                                    <a role="button"><i class="fa fa-behance"></i></a>
                                    <a role="button"><i class="fa fa-deviantart"></i></a>
                                    <a role="button"><i class="fa fa-google-plus"></i></a>
                                </div>
                            </div>
                        </div>
                        <img src="images/team/121H.jpg" class="responsive-img" alt="Ann Perkins">
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="divider"></div>
        </div>
        <!-- Blog section -->
        <div class="section scrollspy" id="blog">
            <div class="container">
                <div class="row">
                    <h2>Latest blog posts</h2>
                    <div class="col s12 m10 offset-m1 l8 offset-l2">
                        <p class="flow-text center-align">
                            Want to get a little more personal? Read our stories, meet the team and get a preview of the future
                            products. All this and more in our blog.
                        </p>
                    </div>
                </div>
            </div>
            <div class="wide-container">
                <div class="row masonry">
                    <div class="col s12 m6 l4">
                        <div class="card">
                            <div class="card-image waves-effect waves-block waves-light">
                                <img class="activator" src="images/blog/building.jpg" alt="Building">
                            </div>
                            <a class="btn-floating btn-large waves-effect waves-dark green accent-2 activator">
                                <i class="mdi-navigation-expand-less indigo-text text-darken-4"></i>
                            </a>
                            <div class="card-reveal">
                                <span class="card-date grey-text">June 22<sup>nd</sup>, 2015</span>
                                <span class="card-title black-text">New office <i class="mdi-navigation-expand-more right"></i></span>
                                <p>
                                    After reaching 25 team members, we had to move to a bigger office and we've chosen
                                    this beautiful historic building in the middle of downtown area.
                                </p>
                                <p><a href="ajax/blog-posts/new-office.html" class="ajax-link">Read the full story</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="divider"></div>
        </div>

        <!-- Contact form section -->
        <div class="section scrollspy" id="contact">
            <div class="container">
                <div class="row">
                    <h2>Contact us</h2>
                    <div class="col s12 m10 offset-m1 l8 offset-l2">
                        <p class="flow-text center-align">
                            Let us know if you want to work on your project with us or just drop a line to say hello. We're
                            always glad to receive your messages.
                        </p>
                        <p class="right-align">
                            <i class="fa fa-info-circle"></i> Last name is not required.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <form class="col s12 m12 l8 offset-l2" action="php/mailer.php" id="contact-form" novalidate>
                        <!-- This field helps us avoid spam bots, don't remove it -->
                        <div class="cant-touch-this">
                            <input type="text" name="hammertime" tabindex="-1" value="">
                        </div>
                        <!-- End of anti-spam field -->
                        <div class="row">
                            <div class="input-field col s6">
                                <input id="first-name" name="first-name" type="text" class="required">
                                <label for="first-name">First name</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="last-name" name="last-name" type="text">
                                <label for="last-name">Last name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" name="email" type="email" class="required">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="message" name="message" class="materialize-textarea required"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="center-align">
                            <button type="submit" name="send" class="btn-large disabled">
                                Send
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            
            <div class="container contact-details">
                <div class="row">
                    <div class="col s12 m6 l4">
                        <h5>Headquarters</h5>
                        <div class="divider"></div>
                        <address>
                            12 W 1st St<br>
                            90001 Los Angeles<br>
                            California<br>
                        </address>
                    </div>
                    <div class="col s12 m6 l4">
                        <h5>Reach us</h5>
                        <div class="divider"></div>
                        <p>
                            +1-800-41-23-09<br>
                            <a href="mailto:hello@wata.com">hello@wata.com</a>
                        </p>
                    </div>
                    <div class="col s12 m6 l4 modern-connect">
                        <h5>Modern connect</h5>
                        <div class="divider"></div>
                        <p>
                            <!-- Add your Skype link here -->
                            <a href="skype:wata?chat"><i class="fa fa-skype"></i> wata.skype</a><br>
                            <i class="fa fa-whatsapp"></i> wata.whatsapp<br>
                            <i class="fa fa-wechat"></i> wata.wechat
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Footer section -->
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                    © 2015 Wata | <a href="ajax/pages/privacy-policy.html" class="ajax-link">Privacy policy</a>

                    <!-- Social icons -->
                    <span class="social right">
                        <a href="#!"><i class="fa fa-facebook"></i></a>
                        <a href="#!"><i class="fa fa-vk"></i></a>
                        <a href="#!"><i class="fa fa-google-plus"></i></a>
                        <a href="#!"><i class="fa fa-github"></i></a>
                        <a href="#!"><i class="fa fa-deviantart"></i></a>
                    </span>
                </div>
            </div>
        </footer>

    </div>

        <!-- Ajax box container, waiting for its turn -->
        <div id="ajax-box" class="translate"></div>

        <!-- Scripts -->
        <script src="https://maps.googleapis.com/maps/api/js"></script>
        <script src="{{asset('bundles/mooc/scripts/config.js')}}"></script>
        <script src="{{asset('bundles/mooc/scripts/build.js')}}"></script>
              <script src="{{asset('bundles/mooc/scripts/mooc.js')}}"></script>
    </body>
</html>