
     
                            
<form method="POST">
    {{ form_widget(formm) }}
    {# contenu : {{nom}}
        {{form_row(formm.nom)}}
    
        {{form_row(formm.adress)}}
    
        {{form_row(formm.email)}}
    
        {{form_row(formm.matricule)}}
    
        {{form_row(formm.photo)}}
        </br></br>
        <div  style="text-align:center">
            {{form_row(formm.Register)}}
        </div>
        #}
</form>
  