{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cours list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Difficulte</th>
                <th>Description</th>
                <th>Badge</th>
                <th>Affiche</th>
                <th>Video</th>
                <th>Validation1</th>
                <th>Validation2</th>
                <th>Language</th>
                <th>Upload</th>
                <th>Id</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('cours_show', { 'id': entity.id }) }}">{{ entity.nom }}</a></td>
                <td>{{ entity.difficulte }}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.badge }}</td>
                <td>{{ entity.affiche }}</td>
                <td>{{ entity.video }}</td>
                <td>{{ entity.validation1 }}</td>
                <td>{{ entity.validation2 }}</td>
                <td>{{ entity.language }}</td>
                <td>{% if entity.upload %}{{ entity.upload|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.id }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('cours_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('cours_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('cours_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
