{% extends "TesseractMOOCBundle:Admin:Admindashboard.html.twig" %}
{% block addstylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/mooc/AdminAssets/css/theme-default/libs/DataTables/jquery.dataTables.css') }}" />
{% endblock %}
{% block content %}
 <div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-head" style="padding-left: 5%">
                <h2>Block Users</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table no-margin" id="table1">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>Mail</th>
                                <th>Name</th>
                                <th>Surname</th>
                                <th>Score</th>
                                <th>Ban</th>
                                <th>Profile</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for u in users%}
                                <tr>
                                    <td>{{u.getUsername()}}</td>
                                    <td>{{u.getEmail()}}</td>
                                    <td>{{u.getPrenom()}}</td>
                                    <td>{{u.getNom()}}</td>
                                    <td>{{u.getScore()}}</td>
                                    <td><a class= "btn ink-reaction btn-floating-action btn-primary" href="{{ path('tesseract_mooc_admin_block_user',{'id':u.getId()})}}"><i class="fa fa-ban"></i></a></td>
                                    <td><a class= "btn ink-reaction btn-floating-action btn-primary" href="{{ path('tesseract_mooc_profile',{'id':u.getId()}) }}"><i class="fa fa-user"></i></a></td>
                                </tr>
                            {%endfor%}

                        </tbody>
                    </table>
                </div><!--end .table-responsive -->
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->
</div>
{% endblock %}
{% block addjavascripts %}
    <script src="{{ asset('bundles/mooc/AdminAssets/js/libs/DataTables/jquery.dataTables.min.js') }}"></script>
    <script text="text/javascript">
        $(document).ready(function(){
            $('#table1').DataTable();
    });
        
    </script>
{% endblock %}