{% extends "TesseractMOOCBundle:Admin:Admindashboard.html.twig" %}
{% block addstylesheets %}

{%endblock%}


{% block content %}
    <div class="card-block">
        <h4 class="card-title">You can see all the forum subjects and their comments</h4>
    </div>
    {% set  suj=''%}
    {% set comm=0%}
    {% for s in suj_com%}


        {%if(comm==0)%}
            <ul class="list-comments">
                <li>
                    <div class="card style-default-light">
                        <div class="comment-avatar"><img src="{{ asset(s.getIdSujet().getIdUtilisateur().getPhoto())}}"></div>
                        <div class="card-body">
                            <h4 class="comment-title">{{s.getIdSujet().getTitre()}}<small>{{s.getIdSujet().getDate()|date('Y/mm/d\\a\\t h:m:s')}}</small></h4>
                            <a class="btn ink-reaction btn-floating-action btn-primary" href="{{ path('tesseract_mooc_admin_forum_ban',{'id':s.getIdSujet().getIdUtilisateur().getId()})}}" style="background-color:#f44336;border-color:#f44336; position: absolute; top: 10px;right: 5px; width: 10%;"><i class="fa fa-lock"></i></a>
                            <p>{{s.getIdSujet().getDescription()}}</p>
                            <p>{% if(s.getIdSujet().getImg() != null)%}<img src="{{ asset(s.getIdSujet().getImg())}}">{%endif%}</p>
                        </div>
                    </div>

                    {% set suj=s.getIdSujet()%}
                {%endif%}
                {%if(s.getIdSujet()==suj)%}
                    {% set comm=1%}
                    <ul>
                        <li>
                            <div class="card style-default-light">
                                <div class="comment-avatar"><img src="{{ asset(s.getIdUtilisateur().getPhoto())}}"></div>
                                <div class="card-body">
                                    <h4 class="comment-title">{{s.getIdUtilisateur().getUsername()}}<small>{{s.getDate()|date('Y/mm/d\\a\\t h:m:s')}}</small></h4>
                                    <a class="btn ink-reaction btn-floating-action btn-primary" href="{{ path('tesseract_mooc_admin_forum_ban',{'id':s.getIdUtilisateur().getId()}) }}" style="background-color:#f44336;border-color:#f44336; position: absolute; top: 10px;right: 5px; width: 10%;"><i class="fa fa-lock"></i></a>
                                    <p>...</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                {%else%}
                    {% set comm=0%}
                {%endif%}
                {%if(comm==0)%}

                </li>
            </ul>
        {%endif%}

    {%endfor%}

{% endblock %}
{% block addjavascripts %}
    <script text="text/javascript">
        $(document).ready(function () {

        });

    </script>
{% endblock %}