{% extends "TesseractMOOCBundle:Admin:Admindashboard.html.twig" %}
{% block addstylesheets %}
{% endblock %}
{% block content %}
    <div class="card-head" style="padding-left: 5%">
        <h2>Organisations asking to join the Platforme</h2>
    </div>
    <ul class="list-comments">
        {% for o in orgs%}
            <li style="margin-bottom:5px">
                <div class="card style-default-light">
                    <div class="comment-avatar"><img src="{{ asset(o.getPhoto()) }}"></div>
                    <div class="card-body">
                        <h4 class="comment-title">{{o.getNom()}} <small>{{o.getEmail()}}</small></h4>
                        <a class="btn btn-default-dark stick-top-right" href="{{ path('tesseract_mooc_admin_org_qry_reply',{'reply':'Accept','id':o.getId()})}}"style="background-color:#0aa89e;border-color:#0aa89e;height: 100%;width: 20%;padding-top: 3%;right: 20%">Accept</a>
                        <a class="btn btn-default-dark stick-top-right" href="{{ path('tesseract_mooc_admin_org_qry_reply',{'reply':'Refuse','id':o.getId()})}}"style="background-color:#f44336;border-color:#f44336;height: 100%;width: 20%;padding-top: 3%">Deny</a>
                        <p>{{o.getAdress()}}</p>
                    </div>
                </div>
            </li>
           

            {%endfor%}
    </ul>
{% endblock %}
{% block addjavascripts %}

{% endblock %}