{% extends "TesseractMOOCBundle:Admin:Admindashboard.html.twig" %}
{% block addstylesheets %}
<link type="text/css" rel="stylesheet" href="{{ asset('bundles/mooc/AdminAssets/css/theme-default/libs/DataTables/jquery.dataTables.css') }}" />
{% endblock %}
{% block content %}
    <div class="col-lg-12">
        <div class="card">
            <div class="card-head" style="padding-left: 5%">
                <h2>New Tickets By users</h2>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table no-margin" id="table1">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Sender</th>
                                <th>Subject</th>
                                <th>Date</th>
                                <th>State</th>
                                <th>Description</th>
                                <th>Respond</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for t in tickets%}
                                <tr>

                                    <td>{{t.getId()}}</td>
                                    <td>{{t.getIdUtilisateur()}}</td>
                                    <td>{{t.getSujet()}}</td>
                                    <td class="sort-numeric">{{t.getDate()|date('Y-m-d')}}</td>
                                    <td>{{t.getEtat()}}</td>
                                    <td>{{t.getDescription()}}</td>
                                    <td><a class= "btn ink-reaction btn-floating-action btn-primary" href="{{ path('tesseract_mooc_admin_tickets_reply',{'id':t.getId()})}}"><i class="fa fa-reply"></i></a></td>
                                </tr>
                            {%endfor%}

                        </tbody>
                    </table>
                </div><!--end .table-responsive -->
            </div><!--end .card-body -->
        </div><!--end .card -->
    </div><!--end .col -->


{% endblock %}
{% block addjavascripts %}
    <script src="{{ asset('bundles/mooc/AdminAssets/js/libs/DataTables/jquery.dataTables.min.js') }}"></script>
    <script text="text/javascript">
        $(document).ready(function(){
            $('#table1').DataTable();
    });
        
    </script>
{% endblock %}

