{% extends '::base.html.twig' %}

{% block body -%}
    <h1>BlogPost</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Titre</th>
                <td>{{ entity.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Img</th>
                <td>{{ entity.img }}</td>
            </tr>
            <tr>
                <th>Vdo</th>
                <td>{{ entity.vdo }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ entity.date|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('blogpost') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('blogpost_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
